/* ************** BARRA DE LOGO + BUSCADOR + ICONOS  ************** */
* { margin:0; padding: 0;}
body {
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:#BD6E2B;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.logo { width: 200px; }
.logo-celular {
    display: none;
   
}

.contenedor-central {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-right: 70px;
    justify-content: flex-end;
}

.icono-nav{
    display: none;  
}
.buscador-celular {
    display: none; 
}
  
.buscador-computadora {
    display: flex;
    max-width: 400px;
    margin: 0 20px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 35px;
}

.buscador-computadora input {
    border: none;
    padding-left: 10px;
    padding-right: 80px;
    flex: 1;
    font-family: Montserrat;
    font-size: 14px;
    outline: none;
}

.buscador-computadora button {
    background-color: white;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 18px;
    color: black;
}

.iconos-derecha {
    display: flex;
    gap: 15px;
    position: absolute;
    right: 20px;

}
  
.iconos-derecha a {
    color: white;
}
.iconos-derecha a .fa-user {
    font-size: 26px;
}
.iconos-derecha a .fa-shopping-bag {
    font-size: 24px;
}
/* ************** BARRA DE NAVEGACION ABAJO  ************** */
.menu{
    color: #ffff;
    width: 100%;
    border-top: 1px solid #eee;
    border-bottom: 2px solid #BD6E2B;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}
  
.menu li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}
  
.menu li a:hover {
    color: #BD6E2B;
}

  


/* ************** PAGINA INICIO ************** */

.slider-celular{
    display:none;
}

/* SLIDER */
.slider-computadora {
    position: relative; 
    width: 100vw; 
    overflow: hidden; 
}
   
.slider {
    display: flex;
    width: 100%; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
}
   
.slide {
    flex: 0 0 100vw;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto; 
}
  .img-slide {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}
   
.indicadores {
    text-align: center;
    margin-top: 10px;
}
  
.indicadores span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}
  
.indicadores .activo {
    background-color: #333;
}


/***** DOS BANNERS DE COCINA + BAÑO ******/

.cajacontenedoradoble{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.banners{
    width: 45vw;
    position: relative;
    padding: 10px;

}
.banners img{
    width:100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.boton-banner {
    font-family: Montserrat;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: rgba(189, 110, 43, 0.8); 
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.boton-banner:hover {
    background-color: #a55b22;
}

/***** CAJA DE LOS PRODUCTOS ******/
.cajacontenedora{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    padding-bottom: 50px;
    padding-top: 30px;
    align-items: stretch;
    

}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 380px;
    width: 20%;
    border: 1px solid #ddd; 
    box-shadow: 0px 4px 8px rgba(213, 146, 98, 0.1);
    border-radius: 10px;
    overflow: hidden; 
    background-color: white;
    text-align: center;
    padding-bottom: 10px; 
    

}
.caja img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contenido{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    
    
}
.imgcaja{width: 100%;}


.boton-comprar{
    font-family: Montserrat;
    display: block;
    width: 90%;
    background-color: #BD6E2B;
    color: white;
    padding: 12px 20px;
    text-align: center;
    border-color: none;
    border: none;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    transition: background 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}


.boton-comprar:hover {
    background-color:#a45d24;
}

/***** SECCION DE CONTACTO  ******/
.bannercontacto{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #BD6E2B;
    color:white;
    
}
.boton-contacto {
    font-family: Montserrat;
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    background-color: #fff;
    color: #bd6e2b;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgb(24 15 8 / 25%);
    font-weight: bold;
}

.boton-contacto:hover {
    background-color: #faebe0cc;
}
/***** TRES IMAGENES DE INFORMACION ******/
.cajainformacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 80px 0px;
    max-width: 1200px;
    margin: 0 auto;
}

.informacion {
    width: 30%;
    min-width: 250px;
    text-align: center;
}

.imginformacion {
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}
/* ************** ANUNCIO ************** */
.anuncio-externo{
    width:728px;
    height:90px;
    border:none;
    display:block;
    margin:0 auto;
  }
  .contenedor-anuncio-externo{
    display:flex;
    justify-content:center;
    padding:30px 0;
  }
/* ************** FOOTER ************** */
.footer {
    background-color: #BD6E2B;  
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.fcajafooter{
    flex: 1;
    padding: 10px;
}

.footer h3 {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li a,
.footer p,
.footer a {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: normal;  
    text-align: left;
    margin-top: 10px;
    display: block; 

}
.icono-footer {
    font-size: 22px;
    margin-right: 8px;
    vertical-align: middle;
    color: #fff;
}

/* TITULOS */
h2{
    font-family:Montserrat;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: center;
}

h3{
    font-family:Montserrat;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    color:#BD6E2B;
}
h1{
    font-family:Montserrat;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
}
p{
    font-family:Montserrat;
    font-size: 18px;
    margin-top: 10px;
    text-align: left;
}
/* ************** PAGINA COCINA ************** */

.bannercocina{width: 100%;}
.pretexto {
    display: flex;
    flex-wrap: wrap;
    padding-left: 135px;
    height :40px;
    width: 110px;
}

/* ************** PAGINA BANO ************** */
.bannerbano{width: 100%;}


/* ************** PAGINA CONTACTO ************** */
.cajacontacto {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.formulario {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.campo-formulario {
    margin-bottom: 20px;
}

.campo-formulario label {
    display: block;
    font-family: Montserrat;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
    font-size: 16px;
}

.campo-formulario input,
.campo-formulario textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 16px;
    background-color: #D9D9D9;
    box-sizing: border-box;
    resize: none;
}

.campo-formulario textarea {
    min-height: 150px;
}
.mensaje {
    display: none; 
    position: fixed; 
    z-index: 9999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    justify-content: center;
    align-items: center;
  }
  
  /* Contenido del mensaje */
  .mensaje-contenido {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Botón para cerrar */
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .cerrar:hover {
    color: black;
  }

/* ************** AJUSTES DE PANTALLAS ************** */

@media (max-width: 768px) {

/* BARRA DE NAVEGACION */
nav ul {
    justify-content: center; 
}

nav ul a {
    font-size: 18px;
    padding: 8px;
}

.logo {
    width: 150px;
}

/* FUENTES */
h3 {
    font-size: 28px;
    text-align: center;
}

/* BANNERS DOBLES */
.banners{
    padding:5px;
    width: 45%;
}

/* CAJA DE PRODUCTOS */
.caja {
    width: 45%; /*hago que entren dos cajas de productos en la pantalla en vez de 4*/
}
/* IMAGENES DE INFORMACION */
.informacion {
    width: 45%;
}


/* FOOTER */ /*como en el celular, hago que las cajas del footer sean tres una abajo de la otra*/
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
    gap: 20px;
}

.cajafooter {
    width: 100%; /*lo ajusto con esto*/
    text-align: left;
}

.footer ul li a,
.footer p {
    font-size: 16px; /*Le ajusto el tamaño de fuente*/
}

.footer h3 {
    font-size: 20px;
    text-align: left;
}
}


@media (max-width: 480px) {

/************* BARRA DE NAVEGACION (LOGO + MENU + ICONOS) *************/
header {
    justify-content: center;
    position: relative;
}
.buscador-computadora {
    display: none;
    }
.menu .buscador-celular {
    display: flex;
    width: 90%;
    margin: 10px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    height: 35px;
}
    
.menu .buscador-celular input {
    flex: 1;
    border: none;
    padding: 0 10px;
    font-family: Montserrat;
    font-size: 14px;
    outline: none;
}

.menu .buscador-celular button {
    background-color: white;
    border: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

/****** LOGO ******/

.logo { /*oculto el logo de computadora*/
    display: none;
}

.logo-celular { /* Cambio de logo */
    display: block;
    width: 150px;
}

nav ul a {
    font-size: 20px;
}
/****** ICONOS ******/
.icono-nav {
    color: white;
    font-size: 35px;
    align-items: right;
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.contenedor-central {
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-left: 70px;
}

.iconos-derecha {
    gap: 10px;
    right: 30px;
}

/******  MENU QUE SE DESPLIEGA  ******/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    background-color: #b56d2e; /* o el color que uses */
  }
.menu {
    display: none;
    background-color: #b56d2e;
    padding: 15px 0 10px;
    position: fixed; 
    top: 100px; 
    left: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.menu.mostrarmenu {
    display: block;
    animation: desplegar 0.3s ease-in-out;
}

.menu ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 5px;
    padding: 0;
}

.menu li {
    padding: 5px;
    border-top: 1px solid #d28d4c;
}
.menu li a{
    color:white;
}
.menu li:first-child {
    border-top: none;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    transition: opacity 0.3s ease;
}
.menu a:hover {
    opacity: 0.7;
}
main{
    margin-top: 100px;
}
main.main-contacto {
    margin-top: 160px; /* igual al alto del header */
  }
/****** BANNER PRINCIPAL (SLIDER)  ******/
.slider-computadora{ /*oculto el slider de computadora*/
    display: none;
}
.slider-celular {  /*muestro el slider de celular*/
    display: block;
    position: relative;
    width: 100vw;
    overflow: hidden;
}
.slider-celular .slider {
    display: flex;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slider-celular .slide {
    flex: 0 0 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-celular .img-slide {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.slider-celular .indicadores {  /*ajusto los puntitos para el celular*/
    text-align: center;
    margin-top: 10px;
}

/****** BANNERS DOBLES (COCINA Y BAÑO) ******/
.banners{
    padding:10px;
    width: 95%; /* hago que los banners ocupen casi toda la pantalla asi se ponen uno abajo del otro*/

}

/****** CAJA DE PRODUCTOS ******/ 
.caja {
    width: 45%; /* Cambio a dos cajas de productos en vez de tres*/
}

.boton-comprar {
    font-size: 14px;
    padding: 10px;
    
}

/****** TRES IMAGENES DE INFORMACION ******/

.cajainformacion {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;    
}

.informacion {
    width: 45%; /* Dos en la primera fila */
    min-width: unset; 
}

.informacion:nth-child(3) { /* La tercera imagen queda debajo */
    width: 60%;
    order: 3;
}

.imginformacion { 
    width: 100%;
    max-width: 200px;
    margin: 0 auto 10px;
}
/* anuncio */ 


.anuncio-externo{
    width:300px;
    height:600px;
  }

/* FOOTER */ 
.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 20px;
    gap: 20px;
}
    
.cajafooter {
    width: 100%; /* hago que cada caja ocupe el 100 % asi en vez de tener tres una al lado de la otra, 
                tengo 3 una abajo de la otra */ 
    text-align: left;
}
    
.footer ul li a,
.footer p {
    font-size: 16px;
}

.footer h3 {
    font-size: 20px;
    text-align: left;
}
/******  FUENTES ******/ 
h3 {
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

h1 {
    font-size: 18px;
    text-align: center;
}
}
  
